<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Available Books</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books | async">
            <td>{{book.isbn}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.description}}</td>
            <td>
                <button (click)="bookDetails(book.id)" class="btn btn-secondary" >Details</button>
                <button (click)="updateBook(book.id)"  class="btn btn-secondary" style="margin-left: 10px">Update</button>
                <button (click)="deleteBook(book.id)"  class="btn btn-primary" style="margin-left: 10px">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>